body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;

}



.course-header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px 0;
}


.site-navigation {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.site-navigation h1,
.site-navigation h2 {
  text-align: center;
  color: #333;

}

.header {
  text-align: left;
  padding-left: 10%;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: center;

}


li {
  width: 100%;
  margin-bottom: 5%;
}

.site-navigation a {
  display: block;
  background-color: white;
  color: #333;
  text-decoration: none;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-weight: bold;
}

.site-navigation a:hover {
  background-color: #333;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}